div#login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;

  background-color: var(--color-white);
  overflow-y: scroll hidden;

  & > div#container {
    display: flex;
    justify-content: center;
    width: 90%;

    & > div#areas {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      width: 100%;
      margin: 0 auto;
      margin-top:160px;
      background-color: var(--color-white);
      gap: 16px;

      & > p.noArea {
        color: gray;
        font-size: 24px;
        font-style: italic;
      }
    }
  }
}