div#page{
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-white);

  & > div#content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
        margin-top:70px;

        & > p {
            display: flex;
            align-items: center;
            color: var(--color-dark-blue);
            font-size: 32px;
            font-weight: 1000;
            height: 160px;
        }
        & > div {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            width: 60vw;
        }
        & > p.error {
            border-radius: 5px;
            border: darkred 1px solid;
            color: darkred;
            background-color: pink;
            text-align: center;
            padding: 5px;
            width: fit-content;
            height: fit-content;
            font-size: 16px;
        }
    }
}